<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wzh.lgtrans"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.wzh.lgtrans.MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.ActionBar" >
        <activity
            android:name="com.wzh.lgtrans.activity.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wzh.lgtrans.activity.MyInfoActivity" />
        <activity android:name="com.wzh.lgtrans.activity.MyHuodanActivity" />
        <activity android:name="com.wzh.lgtrans.activity.JieHuoActivity" />
        <activity android:name="com.wzh.lgtrans.activity.HuodanDetailActivity" />
        <activity android:name="com.wzh.lgtrans.activity.Register0Activity" />
        <activity android:name="com.wzh.lgtrans.activity.Register1Activity" />
        <activity android:name="com.wzh.lgtrans.activity.Register2Activity" />
        <activity android:name="com.wzh.lgtrans.activity.Register3Activity" />
        <activity android:name="com.wzh.lgtrans.activity.TestActivity" />
        <activity android:name="com.wzh.lgtrans.activity.QiangSucActivity" />
        <activity android:name="com.wzh.lgtrans.activity.PicUploadActivity" />
        <activity android:name="com.wzh.lgtrans.activity.LoginActivity" />
    </application>

</manifest>